@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?sf72mr');
  src:  url('../fonts/icomoon.eot?sf72mr#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?sf72mr') format('truetype'),
    url('../fonts/icomoon.woff?sf72mr') format('woff'),
    url('../fonts/icomoon.svg?sf72mr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pacman:before {
  content: "\e916";
}
.icon-phone-hang-up:before {
  content: "\e943";
}
.icon-location:before {
  content: "\e947";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-bookmarks:before {
  content: "\e9d3";
}
.icon-smile:before {
  content: "\e9e1";
}
.icon-smile2:before {
  content: "\e9e2";
}
.icon-wink:before {
  content: "\e9e7";
}
.icon-cool:before {
  content: "\e9eb";
}
.icon-cool2:before {
  content: "\e9ec";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-youtube:before {
  content: "\ea9d";
}
